MAP_PROVIDER=gaode
AMAP_WEB_API_KEY=51c9b10de33db725433c98b07c1ea7f9
EXPO_PUBLIC_AMAP_WEB_KEY=51c9b10de33db725433c98b07c1ea7f9
EXPO_PUBLIC_AMAP_SECURITY_JS_CODE=replace-with-your-amap-security-js-code
EXPO_PUBLIC_AMAP_WEB_STYLE=
EXPO_PUBLIC_YOLO_ENDPOINT=https://your-yolo-api/predict
EXPO_PUBLIC_YOLO_API_KEY=replace-with-your-yolo-key
