MAP_PROVIDER=gaode
AMAP_WEB_API_KEY=replace-with-your-key
EXPO_PUBLIC_AMAP_WEB_KEY=replace-with-your-amap-js-key
EXPO_PUBLIC_AMAP_SECURITY_JS_CODE=replace-with-your-amap-security-jscode
EXPO_PUBLIC_AMAP_WEB_STYLE=amap://styles/ad4ec63026c024d9efe8e8203289145f
EXPO_PUBLIC_YOLO_ENDPOINT=https://your-yolo-api/predict
EXPO_PUBLIC_YOLO_API_KEY=replace-with-your-yolo-key
